body{
	background-color: #f2f2f0;
	color: #4A4A4A;
}

nav{
	background-image: linear-gradient(rgba(243, 243, 241, 0.85), rgba(243, 243, 241, 0.95)) !important;
	color: #4A4A4A !important;
}

nav a{
	color: #4A4A4A !important;
}


.h2{
	font-family: 'Raleway', sans-serif !important;
	letter-spacing: 5px;
	color: #4A4A4A;
	font-size: 24px;
	font-weight: normal;
	margin: 10px 0;
	padding-top: 60px;
	color: #6F8555;
}

.img-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 510px;
  margin-top: 2%;
}

.text-head{
	font-family: 'Lora', serif;
	font-size: 17px;
	width: 50%;
	margin: 20px auto;
}

.gallery{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 4px;
	font-size: 16px;
	margin-top: 15px;
	font-weight: 400;
}

.gallery a{
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	color: #7D7878;
}

.galeria{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
	width: 90%;
}
.galeria img{display: block; margin: 0; max-width: 100%;}
.galeria >div{width: 22%; margin: 0 10px;}

.img-gallery{
	height: 400px;
	width: 600px;
	float: right;
}
.block-cita{margin: 50px auto 10px; }
.cita{
	font-family: 'Lora', serif;
	font-size: 19px;
	text-align: left;
	font-weight: normal;
	letter-spacing: normal;
}
.ref{
	font-size: 17px;
	font-family: 'Lora', serif;
	text-align: left;
	font-weight: normal;
	letter-spacing: normal;
}

h3{
	color: #6F8555;
	text-align: center;
	font-family: 'Raleway', sans-serif !important;
	letter-spacing: 4px;
	font-size: 28px;
	margin-top: 0px;
	font-weight: normal;
}

.menu{
	text-align: center;
	font-family: 'Raleway', sans-serif !important;
	letter-spacing: 2px;
	font-size: 15px;
	margin-top: 100px;
	font-weight: 600;
}

.menu ul li{
	list-style-type: none;
	display: inline-block;
}
.menu-li::after{ content: '|'; }
.menu li{display: inline-block; margin-right: 10px; padding: 0;}
.menu a{ color: #4A4A4A; padding-right: 10px; margin-right: 10px;}


.next{margin: 100px 0 0;}
/**************************** catalogo ***********************/

.list-products{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px auto;
	width: 80%;
}
.img-p{width: auto;}
.descrip-p{width: 40%; margin: 0 45px;}
.price-p{width: auto;}
.price-p p{margin: 5px 5px 10px;}
.buttons{margin: 5px 0 10px;}

.img-cat{
	width: 210px;
	height: 315px;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.descrip{
	font-family: 'Lora', serif;
	font-size: 17px;
	letter-spacing: normal;
	color: #4a4a4a;
}

.product-head{
	font-family: 'Raleway', sans-serif !important;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: 600;
}

.button{
	background-color: transparent;
	border: 1px solid #9B9B9B;
	color: #6F8555;
	display: block;
	width: 160px;
	overflow: hidden;
	margin: 20px 5px;
	padding: 10px 15px;
	font-family: 'Raleway', sans-serif !important;
	letter-spacing: 2px;
	font-size: 13px;
	font-weight: 400;
	cursor: pointer;
}

.button:hover{
	background-color: #9B9B9B !important;
	color: white !important;
	border-color: transparent !important;
}

.price{
	font-family: 'Raleway', sans-serif !important;
	letter-spacing: 2px;
	font-size: 25px;
	margin: 30px 0 18px;
	font-weight: 400;
	text-align: center;
}

.presentacion{
	font-family: 'Raleway', sans-serif !important;
	letter-spacing: 2px;
	font-size: 13px;
	margin-top: 0px;
	font-weight: 400;
	background-color: transparent;
}
select {cursor: pointer; }

@media only screen and (max-width: 550px){
	.img-centered, .text-head{width: 80%;}
	hr{margin: 20px !important;}
	h3{font-size: 18px; padding: 0 10px;}
	.galeria{margin: 30px 10px; }
	.galeria>div{width: 40%;}
	.gallery{font-size: 15px; margin-top: 10px; min-height: 3rem;}
	.block-cita,.menu{margin: 30px auto;}
	.menu-li::after{content: '';}
	.menu li{margin: 5px auto; padding: 0;}
	.menu ul, .menu a{padding: 0; margin: 0 auto;}
	.next{margin-top: 40px;}

	.list-products{width: 100%; margin: 10px auto 30px;}
	#pr{margin: 0 auto }
	.img-p{width: 100%; margin: 20px auto 10px;}
	.img-cat{height: 230px; width: auto; margin: 0 auto;}
	.descrip-p{width: 85%; margin: 10px auto;}
	br{display: none;}
	.hr{margin: 10px !important;}
	.price {margin: 5px auto; font-size: 20px;}
	.price span{font-size: 14px !important;}
	.price-p{width: 100%;}
	.descrip{font-size: 14px; margin-bottom: 5px;}
	.product-head{margin: 0; text-align: center; font-size: 14px;}
	.presentacion{margin: 0 auto; text-align: center;	}
	p[name="cantidad"]{display: none;}
	.button{margin: 10px auto; width: 80%;}
}

@media only screen and (min-width: 550px) and (max-width: 990px){
	.text-head{width: 70%;}
	.img-centered{width: 50%;}
	hr{margin: 20px !important;}
	h3{font-size: 20px;}
	.galeria{margin: 30px auto; }
	.gallery{font-size: 17px; margin-top: 10px; min-height: 3rem;}
	.block-cita,.menu{margin: 30px auto;}
	.menu-li::after{content: '';}
	.menu li{margin: 5px auto; padding: 0; display: block; width: 100%;}
	.menu ul, .menu a{padding: 0; margin: 0 auto;}
	.next{margin-top: 40px;}
}