body{ background-color: #f2f2f0; color: #4a4a4a;}


.gallery{
	text-align: center;
	font-family: 'Raleway', sans-serif !important;
	letter-spacing: 4px;
	font-size: 16px;
	margin-top: 15px;
	font-weight: 600;
}

.gallery a{
	display: inline-block;
	text-decoration: none;
	color: #9B9B9B;
}

h3 {
    color: #6F8555;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    letter-spacing: 4px;
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 0;
    font-weight: normal;
}
.texto ul{ list-style-type: disc; }
.texto li{list-style-type: disc; display: list-item;}
#sub-items li{list-style-type: circle !important;}
.text-and-img{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
	width: 100%;
}
.text-and-img >div{
	/*width: auto;*/
	margin: 0 20px;
}
.div-img {width: auto !important; margin-top: 50px !important;}

.slick-dots{bottom: -50px;}

.cita{ margin: 30px auto; }
.div-texto{width: 35%; min-width: 300px;}

.texto ul>li{padding: 10px;}

.img-hover-zoom--slowmo img{
  transform-origin: 50% 65%;
  transition: transform 1s;
  /*overflow: visible;*/
}
.img-hover-zoom--slowmo:hover img {transform: scale(1.04);}

@media only screen and (max-width: 760px){
	.body-carousel, .parrafos{color: white;}
}

@media only screen and (max-width: 550px){
	h3{font-size: 17px; margin-top: 30px;}
	.carousel-title{font-size: 16px; margin: 15px;}
	.title-carousel{font-size: 14px;}
	.texto ul{padding: 0 0 0 20px;}
	.texto{margin: 10px auto 30px;}
	.div-img{margin-top:10px !important; margin: 10px auto;}
	.text-and-img img{width: 80%; margin: 25px auto; display: block;}
	.text-and-img{margin: 0 0 30px;}
	.body-carousel{font-size: 15px;}
	.text-and-img>div{width: 82%; margin: 0;}
	hr{margin: 20px auto !important;}
	.env{margin: 20px 0 50px;}
}

@media only screen and (min-width: 550px) and (max-width: 760px){
	h3{font-size: 17px; margin-top: 30px;}
	.carousel-title{font-size: 19px; margin: 15px;}
	.title-carousel{font-size: 17px;}
	.texto ul{padding: 0 0 0 20px;}
	.texto{margin-bottom: 30px;}
	/*.div-img{margin-top:10px !important; margin: 10px 20px;}*/
	.text-and-img img{width: 70%; margin: 30px auto; display: block;}
	.body-carousel{font-size: 17px;}
	.text-and-img{margin: 0 0 30px;}
	.text-and-img>div{width: 85%; margin: 0;}
	hr{margin: 20px auto !important;}
}

@media only screen and (min-width: 760px) and (max-width: 990px){
	h3{font-size: 19px; margin-top: 30px;}
	.carousel-title{font-size: 18px; margin: 10px;}
	.texto ul{padding: 0 0 0 20px;}
	.texto{margin-bottom: 30px;}
	.body-carousel{font-size: 16px;}
	hr{margin-top: 40px !important;}
	.text-and-img img{max-width: 230px;}
	/*.text-and-img>div{width: 320px;}*/
}

@media only screen and (min-width: 990px){	
	.div-texto{width: 35%; min-width: 300px;}
	.text-and-img img{max-width: 380px;}
	
	.slick-dots{bottom: -15%;}
}

@media only screen and (min-width: 1200px){	
	.logos{width: 380px;}
}
