body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
}

.body-black{
  background-color: black !important;
  color: white !important;
}

.body-transparent{
  background-color: rgba(153, 153, 153, 0.42) !important;
  opacity: 0.5 !important;
}



.bg-image{
  /*background: rgba(0, 0, 0, 0.55) url('/img/equipo.jpg') no-repeat center;*/
  height: 100vh;
  min-height: 350px;
  background-size: cover;
  color: white !important;
  position: relative;
  /*filter: opacity(0.5);*/
}

.container-image {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif !important;
  letter-spacing: 4px;
  font-size: 23px;
  z-index: 2;
}

.right {
  position: absolute;
  top: 47%;
  left: 73%;
  font-family: 'Raleway', sans-serif !important;
  letter-spacing: 2px;
  font-size: 18px;
  z-index: 2;
  min-width: 200px;
}

.right a, ul{
  text-decoration: none;
  display: block;
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
}
.right a:hover{color: rgba(255,255,255,0.6);}

@media only screen and (max-width: 760px){
  .bg-image{height: 70vh;}
  .centered{top: 25%; font-size: 16px;}
  .right a{display: inline-block; margin: 10px;}
  .right { top: 50%; left: 50%; transform: translate(-50%, -50%); 
    font-size: 12px; text-align: center !important; width: 100%;}
}
@media only screen and (min-width: 760px) and (max-width: 1024px){
  .bg-image{height: 70vh;}
  .centered{top: 20%; font-size: 20px;}
  .right a{display: inline-block; margin: 10px;}
  .right { top: 43%; left: 50%; transform: translate(-50%, -50%); font-size: 17px; text-align: center !important; }
}

