body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
}

.body-black{
  background-color: black !important;
  color: white !important;
}

.body-transparent{
  background-color: rgba(153, 153, 153, 0.42) !important;
  opacity: 0.5 !important;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif !important;
  letter-spacing: 4px;
  font-size: 23px;
  z-index: 2;
  text-align: center;
}

.right {
  position: absolute;
  top: 38%;
  left: 67%;
  /*right: 210px;*/
  font-family: 'Raleway', sans-serif !important;
  letter-spacing: 2px;
  font-size: 18px;
  z-index: 2;
  min-width: 200px;
}

.right a, .right ul{
  text-decoration: none;
  display: block;
  list-style-type: none;
  color: white;
  margin: 0 0 10px;
  padding: 0;
}
.right a:hover{color: rgba(255,255,255,0.6);}


.list-masters li{
  padding: 5px;
  letter-spacing: 1px;


}

.slick-dots li button:before{opacity: 0.40; color: white;}
.slick-dots li.slick-active button:before{opacity: 0.75; color: white;}
.slick-dots{bottom: -50px;}
/*.carousel-container{margin: 100px auto;}*/
.next{margin-top: 70px;}

@media only screen and (max-width: 990px){
  .bg-image{height: 60vh;}
  .right a{display: inline-block; margin: 10px;}
}

@media only screen and (max-width: 760px){
  .centered{top: 25%; font-size: 16px;}
  .right { top: 50%; left: 50%; transform: translate(-50%, -50%); 
    font-size: 12px; text-align: center !important; width: 100%;}
}

@media only screen and (max-width: 550px){
  .slick-dots{bottom: -30px;}
}

@media only screen and (min-width: 550px) and (max-width: 760px){
  .centered{top: 20%; font-size: 19px;}
  .right { top: 44%; left: 50%; transform: translate(-50%, -50%); 
    font-size: 16px; text-align: center !important; width: 100%;}
}
@media only screen and (min-width: 760px) and (max-width: 1024px){
  .bg-image{height: 50vh;}
  .centered{top: 20%; font-size: 20px;}
  .right { top: 48%; left: 50%; transform: translate(-50%, -50%); font-size: 17px; text-align: center !important; }
}

@media only screen and (min-width: 990px){  
  .bg-text{width: 30%; min-width: 390px;}
}