body{
  margin: 0;
  color: white;
  background-color: black;
}

.fondo-produccion{
  background: rgba(0, 0, 0, 0.55) url('/img/produccion2.jpg') no-repeat center;
  height: 100vh;
    min-height: 350px;
  background-size: cover;
  color: white !important;
  /*opacity: 0.6; */
}
h1{
  font-size: 20px;
  font-family: 'Lora', serif;
  letter-spacing: 2px;
  color: white;
  margin: 20px 0 30px;
  font-weight: 500;
}
#home a:hover{
  text-decoration: none;
  transition: color 0.6s;
}
h3{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

a{
  color: white;
}

input[type=email], input[type=password], input[type=text] {
  width: 100%;
  display: inline-block;
  border: 1px solid rgba(247, 244, 244, 0.2);
  box-sizing: border-box;
  background-color: rgba(247, 244, 244, 0.2);
  color: white;
}

input:Focus{
  background-color: rgba(247, 244, 244, 0.2) !important;
  border: 2px solid rgba(247, 244, 244, 0.2) !important;
  color: white !important;
  box-shadow: 0 0 0 0.2rem rgba(125, 125, 125, 0.25) !important;
}
::-webkit-input-placeholder { color: rgba(255,255,255,0.5) !important; } 

button {
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: calc(2.25rem + 2px);
}

button:hover {
  opacity: 0.8;
}

.login{
	margin-top: 1.5em;
	border-radius: 0.25rem;
	background-color: #214735;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	letter-spacing: 3px;
	font-weight: lighter !important;
}

.imgcontainer {
  text-align: center;
}

img.avatar {
	margin-top: 5%;
  width: 10%;
  border-radius: 50%;
}

.container {
  width: 30%;
  margin: 20px auto 0%;
  
}

span.psw {
  float: right;
  margin: 3px;
  font-size: 14px;
  font-family: sans-serif;
}

a:hover{
  color: #9b9b9b;
}

.register{
	font-size: 14px;
}
label{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	letter-spacing: 3px;
	font-weight: lighter !important;
	display: block;
	text-align: left;
}

.label-text{
	letter-spacing: normal;
	display: inline-block;
	margin: 0 1%;
	font-size: 14px;
	font-family: sans-serif;
}

.footer{
	font-size: 10px;
	text-align: center;
	margin-bottom: 1%;
}

ul{
	margin: 5% 0 0;
	padding: 0;
}

.footer li {
	list-style-type: none;
	display: inline-block;
	padding: 2px;

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 1000px) {
  span.psw {
     display: block;
     float: none;
     margin-bottom: 0;
  }
  img.avatar {
     width: 16%;
  }

  .footer{
    margin-top: 10%;
  }
}
@media screen and (max-width: 720px) {
  span.psw {
     display: block;
     float: none;
  }
  img.avatar {
     width: 25%;
  }

  .container{
  	width: 100%;
  }

  .footer{
    margin-top: 13%;
  }

}