body{ background-color: #f2f2f0; color: #4a4a4a; }

.bottomright {
  position: absolute;
  bottom: 50px;
  right: 60px;
  width: 500px;
  color: white;
}
/**********************************************/


/************imagenes************************/
.img-vertical{width: 330px; height: 450px; }
.img-horizontal{ width: 390px; height: 250px; }
.img-bebidas{ text-align: center; height: 350px; }



/*Parrafos pagina principal*****************/

.header-parrafo{ font-weight: 500; letter-spacing: 4px; font-size: 19px; margin:0 0 1em; }
.header-parrafo a{ color: rgba(111,133,85);}
.header-parrafo a:hover{ color: rgba(111,133,85,0.6); }

.align-text{text-align: right;}

.text-home{ font-family: 'Lora', serif; font-size: 18px; }
.text-home span{font-size: 16px;}

/******************Seccion de bebidas***********************************/
.div-fondo{
	margin-top: 150px !important;
	background-image: url('/img/portada.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	
}
.title-bebidas{
	font-size: 20px;
	font-weight: 450;
	padding-top: 60px;
	letter-spacing: 3px;
	color: white;
	margin-bottom: 30px;
}

/*******************  footer  *******************************************************/
.foot-page{
	font-family: 'Libre Caslon Text', serif;
	font-size: 12px;
	color: #9B9B9B;
}

.tel-number{
	font-family: 'Lora', serif;
	font-size: 13px;
	letter-spacing: 3px;
	color: #4a4a4a;
}

.tel-number a{
	color: #4a4a4a;
	text-decoration: none;
}




.second-line{
	font-family: 'Markazi Text', serif;
	letter-spacing: 1px;
	color: #9B9B9B;
	text-decoration: none;
	font-size: 17px;
}

.body-transparent{
	background-color: rgba(153, 153, 153, 0.42) !important;
	opacity: 0.5 !important;
}

/************************************************************************************************************/
.text-and-img{
	display: flex;
	/*height: 100vh;*/
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 130px 0;
}
.text-and-img >div{
	width: 400px;
	margin: 0 30px;
}
.div-img {width: auto !important;}

.div-products{
	background-image: url('/img/portada.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	display: flex;
	/*height: 100vh;*/
	flex-wrap: wrap;
	justify-content: center;
}
.div-products a:hover{ color: #9B9B9B; }

/* Animación imagenes*/
.div-products > div {
  height: 350px;
  overflow: hidden !important; 
  margin: 20px 30px;
}

.img-hover-zoom--slowmo img{
  transform-origin: 50% 65%;
  transition: transform 1s;
  overflow: hidden;
}
.img-hover-zoom--slowmo:hover img {transform: scale(1.04);}


@media only screen and (max-width: 991px){
	.bottomright{ bottom: 10px; right: 0; width: 100%;}
	.text-and-img{margin: 25px 0;}
	.title-bebidas{padding-top: 0px; margin-bottom: 20px; color: rgba(111,133,85);}
	.div-products{background-image: none; color: #4a4a4a;}
}

@media only screen and (max-width: 760px){
	.text-and-img>div{ order: 2;}
	.div-img{order: 1 !important;}
	.align-text{text-align: left;}
	.div-products p{margin: 0 30px;}
}

@media only screen and (max-width: 550px){
	.bottomright>p{margin: 0 30px 1em; } 
	.text-cita{ font-size: 12px; }
	.ref-cita{font-size: 11px;}
	.text-home, .header-parrafo, .title-bebidas{font-size: 15px;}
	.text-home span{font-size: 14px;}
	.text-and-img>div{ width: 100%; margin: 15px 30px;}
	.img-vertical{width: 300px; height: 380px; }
	.img-horizontal{ width: 300px; height: auto; }
	.img-bebidas{ height: 200px; width: 130px;}
	.div-products>div{height: auto; margin: 10px 15px 25px;}
}

@media only screen and (min-width: 550px) and (max-width: 990px){
	.bottomright>p{margin: 0 50px 1em; } 
	.text-cita{ font-size: 16px; }
	.ref-cita{font-size: 14px;}
	.text-home, .header-parrafo, .title-bebidas{font-size: 17px;}
	.text-home span{font-size: 15px;}
}

@media only screen and (min-width: 550px) and (max-width: 760px){
	.text-and-img>div{width: 450px; margin: 15px 30px;}
	.header-parrafo{text-align: center !important;}
	.img-vertical{width: 340px; height: 420px; }
	.img-horizontal{ width: 340px; height: auto; }
	.img-bebidas{ height: 250px; width: 180px;}
	.div-products>div{height: auto; margin: 15px 25px 25px;}
}

@media only screen and (min-width: 760px) and (max-width: 990px){
	.text-and-img{margin: 60px 0;}
	.text-and-img>div{width: 300px; margin: 15px 15px;}
	.align-text{text-align: right;}
	.img-vertical{width: 250px; height: 350px; }
	.img-horizontal{ width: 300px; height: auto; }
	.img-bebidas{ height: 230px; width: 150px;}
	.div-products>div{height: auto; margin: 10px 15px 25px;}
}


/*.img-vertical{width: 330px; height: 450px; }
.img-horizontal{ width: 390px; height: 250px; }
.img-bebidas{ text-align: center; height: 350px; }
*/
