
body{ background-color: black; color: white; font-family: 'Lora', serif;}
.body-black{ background-color: black !important; color: white !important; }

.body-transparent{
	background-color: rgba(153, 153, 153, 0.42) !important;
	color: white !important;
	opacity: 0.5 !important;
}

.nav-trn{
	background-image: linear-gradient(rgba(10,10,10, 0.9), rgba(10, 10, 10, 0.05)) !important;
}

/****** philosophia*****************************/
.philosophy{
	background-color: black !important;
	color: white !important;
}

.head-philosop{
	background: black url('/img/filosofia.jpg') no-repeat center;
	height: 100vh;
  	min-height: 310px;
	background-size: cover;
}
.portada-fil{
	background: black url('/img/philosop2.jpg') no-repeat center;
	height: 95vh;
  	min-height: 300px;
	background-size: cover;
}
.img-source{
	color: #5C5C5C;
	margin: 10px 15px;
	text-align: right;
	font-family: helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
}

.dropdown-content{background-image: linear-gradient(rgba(10, 10, 10, 0.95), rgba(10, 10, 10, 0.5)) !important;}

/**********************cOROUSEL */
.title-carousel{
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	letter-spacing: 2px;
	margin: 0 0 15px;
}

.title-carousel2{
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	letter-spacing: 2px;
}


.body-carousel{
	font-family: 'Lora', serif;
	font-size: 18px;
}

.img-car{ width: 300px; height: 380px;}

.div-carousel{
	height: 80vh;
}

.carousel-title{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	/*padding-top: 4%;*/
	letter-spacing: 3px;
	margin: 20px 0;
	font-weight: lighter !important;
}

.fondo-mezcal{
	background: rgba(0, 0, 0, 0.55) url('/img/fondo-mezcal3.jpg') no-repeat center;
	height: 100vh;
  	min-height: 350px;
	background-size: cover;
	color: white !important;
	margin: 30px 0;
	/*opacity: 0.6;	*/
	/*comentarios de prueba*/
	/*otro comentario*/
}
.fondo-produccion h2, .fondo-mezcal h2{padding-top: 50px;}

.fondo-produccion{
	background: rgba(0, 0, 0, 0.55) url('/img/produccion1.jpg') no-repeat center;
	height: 100vh;
  	min-height: 350px;
	background-size: cover;
	color: white !important;
	margin: 30px 0;
	/*opacity: 0.6;	*/
}

.text-and-img{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 30px 0;
}
.text-and-img >div{	width: 400px; margin: 0 25px;}
.img-r{ display: block; float: right;}
.img-l{width: auto !important;}


.background-transparent{
	background-color: rgba(153, 153, 153, 0.42);
}

.carousel-height{height: 80vh; margin: 0 0 40px;}

.btn-expand{
	font-family: 'Raleway', sans-serif;
	text-align: right;
	font-size: 11px;
	letter-spacing: 3px;
	margin: 10px;
	display: none;
	transition: all 0.8s;
}

.carousel-container{ width: 85%; margin: 0 auto 100px; }

/*.bg-text{transition: height 0.8s;}*/

:focus{
	outline-color: transparent;
    outline-style: auto;
    outline-width: 0px;
}



.slick-dots li button:before{opacity: 0.40; color: white;}
.slick-dots li.slick-active button:before{opacity: 0.75; color: white;}

/*Media querys*/
@media only screen and (max-width: 760px){
	.head-philosop{ height: 50vh; }
	.portada-fil{ height: 70vh; background-position: right;}
}

@media only screen and (min-width: 550px) and (max-width: 760px){
	.block-cita{ width: 80%; }
	.next{height: 25vh; margin-top: 100px;}
	.next-text p{font-size: 12px;}.next-text a{font-size: 16px;}
}

@media only screen and (max-width: 550px){
	/****carousel */
	.text-and-img{width: 100%; margin: 0; height: 100%; position: relative;}
	.text-and-img>div{width: 100%; margin: 0; overflow: hidden;}
	.img-r, .img-l{display: block; height: 70vh; width: 100%; margin: 0 auto; float: none; z-index: -1;}
	.img-car{height: 70vh; width: 100%;}
	.carousel-container{width: 90%; height: 82vh; margin-bottom: 50px;}
	.bg-text{background-color: rgba(0,0,0,0.6); position: absolute; left: 0; bottom: 0; margin: 0 0 10px;}
	/*.bg-text p{height: 0px; overflow-y: hidden; transition: height 0.8s; margin: 0;}*/
	.parrafos{height: 0px; overflow-y: hidden; transition: height 0.8s; margin: 0;}
	.title-carousel{margin: 10px 15px 15px; font-size: 13px; line-height: 1;}
	.carousel-title{font-size: 14px; margin: 10px 0 20px;}
	.carousel-items{height: 90%;}
	.body-carousel{font-size: 14px; margin: 0 15px 15px;}

	.btn-expand{display: block;}

	.open::before{content: 'ABRIR';}
.open::after{content: '';}
.closed::before{content: 'CERRAR';}
.closed::after{content: '';}

	
	#maestro-mezcalero{margin-bottom: 120px;}


	.fondo-mezcal{background-image: none;}
}
