/*barra de navegación*/
.nav-trn{
	background: transparent ;
	z-index: 99;
	transition: 500ms ease;
}
.nav-trn2{
	background-image: linear-gradient(rgba(243, 243, 241, 0.85), rgba(243, 243, 241, 0.95)) !important;
	z-index: 99;
	transition: 500ms ease;
}
.nav-trn2 a{color: #4A4A4A !important;}
/********Navbar degradado*/
.nav-grad {background-image: linear-gradient(rgba(64, 65, 47, 0.47), transparent);}
/*change on scroll*/
.nav-trn.scrolled{
	background-image: linear-gradient(rgba(243, 243, 241, 0.85), rgba(243, 243, 241, 0.95)) !important;
	color: #4A4A4A !important;
}
.nav-trn.scrolled a{color: #4A4A4A !important;}
.nav-home{
	font-size: 15px;
	font-family: 'Lora', serif;
	letter-spacing: 2px;
}
nav a{color: white !important;}
.nav-items{
	font-family: 'Raleway', sans-serif !important;
	letter-spacing: 2px !important;
	display: flex;
	flex-direction: row;
}



/********************* dropdown ****************/

.dropbtn {
  padding: 16px;
  font-size: 15px !important;
  border: none;
}
.dropdown { position: relative; display: inline-block;}
.dropdown-content {
	margin-top: 0px;
	display: none;
  	position: absolute;
  	background-color: transparent;
  	min-width: 200px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
  	/*background-image: linear-gradient(rgba(243, 243, 241, 0.85), rgba(243, 243, 241, 0.95)) !important;*/
}
.dropdown-content.scrolled{background-image: linear-gradient(rgba(243, 243, 241, 0.85), rgba(243, 243, 241, 0.95)) !important;}
.dropdown-content a {
  color: white;
  padding: 0px 6px 8px 8px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  letter-spacing: 2px;
}

.dropdown-content a:hover {background-color: transparent;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: transparent;}


/*Parrafos pagina principal*****************/

.text-cita{ font-family: 'Lora', serif; font-size: 19px;}
.ref-cita{	font-family: 'Lora', serif; font-size: 17px;}
.ref-cita a{ color: #777; transition: color 0.8s; }
.ref-cita a:hover{ text-decoration: none; color: #4A4A4A;}

.texto{font-family: 'Lora', serif; font-size: 19px; width: 70%; margin: 50px auto;}
.texto p{margin: 1rem; }


/**********************************************************************/
.bg-image{
  /*background: rgba(0, 0, 0, 0.55) url('/img/equipo.jpg') no-repeat center;*/
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  color: white !important;
  position: relative;
  /*filter: opacity(0.5);*/
}
.bg-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; height: inherit; opacity: 0.7; z-index: -5; min-height: 400px;}
}

.container-image {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif !important;
  letter-spacing: 4px;
  font-size: 23px;
  z-index: 2;
  text-align: center;
}


/*************** citas  ********************************/
.block-cita{ width: 60%; margin: 120px auto;}


/*.fondo-produccion h2, .fondo-mezcal h2{padding-top: 50px;}*/

.next{
	height: 50vh;
  	min-height: 150px;
	color: white !important;
	position: relative;
	margin: 200px 0 0;
}
.next-fondo{background-repeat: no-repeat; background-position: center; 
	background-size: cover; height: inherit; opacity: 0.7; z-index: -5; min-height: 150px;}

.next-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  color: white;
  z-index: 2;
}
.next-text p{
	font-size: 15px;
	/*font-weight: 500 !important;*/
}
.next-text a{
	font-size: 24px;
	text-decoration: none;
	color: white;
	/*font-weight: 500;*/
}
.next-text a:hover{color: rgba(255,255,255,0.6);}
.body-transparent{
	background-color: rgba(153, 153, 153, 0.42) !important;
	opacity: 0.5 !important;
}

.to-left {
  position: absolute;
  top: 45%;
  left: 19%;
  font-family: 'Raleway', sans-serif !important;
  letter-spacing: 2px;
  font-size: 23px;
  font-weight: 500;
  z-index: 3;
}

.bg-gray{ background-color: rgba(134, 136, 124, 0.16);}
.body-white{ background-color: #f2f2f0 !important; }

a{ color: inherit; transition: color 0.5s;}
a:hover{ color: inherit; text-decoration: none;}


.ico {
	transition: color 0.8s;
	display: block;
	padding: 16px 0.5rem;
	font-size: 15px;
}
.ico:hover{ cursor: pointer; color: #9B9B9B !important; }

/**********footer*************************/
.div-foot{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px; 
	margin: 40px auto 20px;
}
.div-foot>div{
	width: 30%;
	font-family: 'Lora', serif;
	letter-spacing: 3px;
	font-size: 13px;
}
#f5{width: 50%;}
#f1{width: 40%;}
.div-foot a:hover{color: #9B9B9B;}

.fa-twitter:hover{transition: 0.5s; color: #41b7d8;}
.fa-facebook-square:hover{transition: 0.5s; color: #3b5997;}
.fa-instagram:hover{transition: 0.5s; color: #E1306C;}

.mail{
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: right !important;
}
.redes{
	font-family: 'Markazi Text', serif;
	letter-spacing: 1px;
	color: #9B9B9B;
	font-size: 17px;
	margin: 0;
}
.icons a{ display: inline-block; margin: 0 3px; transition: 0.6s; }
.icons {text-align: right;}


/**********************cOROUSEL */

/*******************************containers**********************************************************/
.env{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
.fondo-mezcal{
	background: rgba(0, 0, 0, 0.55) url('/img/fondo-mezcal3.jpg') no-repeat center;
	height: 100vh;
  	min-height: 350px;
	background-size: cover;
	color: white !important;
}
.fondo-produccion{
	background: rgba(0, 0, 0, 0.55) url('/img/produccion1.jpg') no-repeat center;
	height: 100vh;
  	min-height: 350px;
	background-size: cover;
	color: white !important;
}
.carousel-container{ width: 100%; margin: 0 auto; height: auto;}
.text-and-img-c{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.text-and-img-c >div{ margin: 0 25px;}
.btn-expand{
	font-family: 'Raleway', sans-serif;
	text-align: right;
	font-size: 11px;
	letter-spacing: 3px;
	margin: 10px 10px 0;
	display: none;
	transition: all 0.8s;
	color: white;
}

/******************************************titulos y fuentes************************************************/
.title-carousel{
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	letter-spacing: 2px;
	margin: 0 0 15px;
}
.carousel-title{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	letter-spacing: 3px;
	margin: 0px 0 4%;
	font-weight: lighter !important;
}
.body-carousel{ font-family: 'Lora', serif; font-size: 18px;}
.parrafos ul>li{list-style-type: disc; font-size: 18px; font-family: 'Lora', serif;}

/**********************************************************imagenes**********************************/
.img-car{ width: 300px; height: 380px;}
.img-r{ display: block; float: right;}
.img-l{width: auto;}
:focus{
	outline-color: transparent;
    outline-style: auto;
    outline-width: 0px;
}

.slick-dots li button:before{opacity: 0.40; color: white;}
.slick-dots li.slick-active button:before{opacity: 0.75; color: white;}
.slick-dots{bottom: -15%;}


#maestro-mezcalero{margin-bottom: 0px;}
/**************************************************************************************************/


@media only screen and (max-width: 990px){
	#list-items{display: none;}
	.navbar>.container{padding: 0 9px; }
	.div-foot>div{font-size: 12px;}	
	.next{height: 25vh; margin-top: 60px;}
	.next-text p{font-size: 12px;}.next-text a{font-size: 16px;}
	.head-philosop{ height: 50vh; }
	.portada-fil{ height: 70vh; background-position: right;}

	#opened{padding-right: 0;}
}

@media only screen and (max-width: 760px){
	.nav-home{font-size: 14px;}
	.div-foot{margin: 40px 0px 20px;}
	.div-foot p{margin: 0  0 0.5rem; line-height: 1 !important;}
	.div-foot>div{width: 100% !important; margin: 0; text-align: center !important;}
	.mail, .icons{text-align: center!important;}
	.icons{font-size: 20px; line-height: 1;}
	#f1{order: 1;}  #f2{order: 2; margin-top: 5px;} #f3{order: 3;} #f4{order: 4;} #f5{order: 5;}
	.block-cita{ width: 80%; margin-top: 50px; margin-bottom: 60px;}
	.text-cita{ font-size: 17px; }
	.ref-cita{font-size: 15px;}
	.texto{width: 85%; font-size: 17px; margin-top: 30px;}

	.env{height: auto; margin: 40px 0; }
	.carousel-container{width: 90%;}
	.text-and-img-c{margin: 0; height: 100%; position: relative;}
	.text-and-img-c>div{width: 100%; margin: 0; overflow: hidden;}

	.img-r{display: block; height: 70vh; width: 100%; margin: 0 auto; float: none; z-index: -1;}
		
	.bg-text{background-color: rgba(0,0,0,0.6); position: absolute; left: 0; bottom: 0; margin: 0 0 10px;}
	.parrafos{height: 0px; overflow-y: hidden; transition: height 0.8s; margin: 0;}
	.title-carousel{margin: 0 15px 15px; font-size: 13px; line-height: 1; color: white;}
	.carousel-title{font-size: 14px; margin: 10px 0 20px;}
	
	.carousel-items{height: 90%;}
	.body-carousel{font-size: 14px; margin: 0 15px 15px; color: white;}
	.parrafos ul>li{font-size: 14px;}
	.btn-expand{display: block;}
	.open::before{content: 'ABRIR';}
	.closed::before{content: 'CERRAR';}
	.fondo-mezcal, .fondo-produccion{background-image: none;}
}

@media only screen and (min-width: 550px) and (max-width: 760px){
	/*carousel**/
	.env{width: 80%; margin: 15% auto;}
	.slick-dots{bottom: -50px;}
	.img-r{height: 65vh;}
	.img-car{height: 65vh; min-height: 450px; width: 100%;}
	
	.title-carousel{font-size: 16px; line-height: 1;}	
	.carousel-title{font-size: 18px; margin: 10px 0 50px;}
	/*.carousel-items{height: auto; min-height: 630px;}*/
	/*.fondo-mezcal h2{padding-top: 15%;}*/
	.body-carousel, .parrafos ul>li{font-size: 16px;}
	
	.fondo-mezcal, .fondo-produccion{height: auto; min-height: 600px;}
	#maestro-mezcalero{margin-bottom: 80px; }
}

@media only screen and (min-width: 760px) and (max-width: 990px){
	.div-foot{width: 95%;}
	.redes{font-size: 15px;}
	.mail{font-size: 14px;}
	.text-cita{font-size: 16px;}
	.ref-cita{font-size: 15px;}
	.texto{font-size: 16px;}
	.block-cita, .texto{width: 80%;}
	.block-cita{margin-top: 70px; margin-bottom: 60px;}


	.env{width: 100%; margin: 0 auto; height: 100vh; }
	.text-and-img-c{margin: 0 auto; min-height: 600px; width: 100%;}
	.text-and-img-c>div{ width: 100%; margin: 20px auto; }
	.bg-text{width: 100%; margin: 15px 0;}
	.carousel-container{min-height: 700px; }
	.parrafos{margin: 0 10%;}
	.img-r{float: none; z-index: -1;}
	.carousel-title{margin-bottom: 30px; text-align: center;}
	.title-carousel{text-align: center;}
	.fondo-mezcal{z-index: -20; opacity: 0.6!important;}
	.slick-dots{bottom: -50px;}
	.block-cita{margin-bottom: 0;}
	.img-car{margin: 20px auto;}
	#maestro-mezcalero{margin-bottom: 0; }
}

@media only screen and (max-width: 550px){
	.text-cita{ font-size: 15px; }
	.ref-cita{font-size: 14px;}
	.texto{width: 82%; font-size: 15px; margin-top: 30px;}

	.img-r{display: block; height: 70vh; width: 100%; margin: 0 auto; float: none; z-index: -1;}
	.img-car{height: 70vh; width: 100%;}
	#maestro-mezcalero{margin-bottom: 20px;}
	.slick-dots{bottom: -30px;}

	#topbar{padding-top: 0; padding-bottom: 0;}
	.ico, .navbar-brand{padding-top: 12px; padding-bottom: 12px;}
}
@media only screen and (min-width: 990px){	
	.bg-text{width: 30%; min-width: 420px;}
	.body-carousel{line-height: 1.6;}
	.parrafos{letter-spacing: 0.5px;}
	.text-and-img-c{width: auto;}
	.env{margin: 15px auto;}
	.img-l{width: auto;}
}
@media (min-width: 992px){.div-foot { max-width: 960px; } }
@media (min-width: 1200px){.div-foot { max-width: 1140px;}}
