/*barra de navegación*/
.nav-trn{
	background: transparent ;
	z-index: 99;
	transition: 500ms ease;
}
.nav-trn2{
	background-image: linear-gradient(rgba(243, 243, 241, 0.85), rgba(243, 243, 241, 0.95)) !important;
	z-index: 99;
	transition: 500ms ease;
}
.nav-trn2 a{color: #4A4A4A !important;}
/********Navbar degradado*/
.nav-grad {background-image: linear-gradient(rgba(64, 65, 47, 0.47), transparent);}
/*change on scroll*/
.nav-trn.scrolled{
	background-image: linear-gradient(rgba(243, 243, 241, 0.85), rgba(243, 243, 241, 0.95)) !important;
	color: #4A4A4A !important;
}
.nav-trn.scrolled a{color: #4A4A4A !important;}

.nav-home{
	font-size: 15px;
	font-family: 'Lora', serif;
	letter-spacing: 2px;
}
nav a{color: white !important;}
.nav-items{
	font-family: 'Raleway', sans-serif !important;
	letter-spacing: 2px !important;
	display: flex;
	flex-direction: row;
}
/********************* dropdown ****************/

.dropbtn {
  padding: 16px;
  font-size: 15px !important;
  border: none;
}
.dropdown { position: relative; display: inline-block;}
.dropdown-content {
	margin-top: 0px;
	display: none;
  	position: absolute;
  	background-color: transparent;
  	min-width: 180px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
  	/*background-image: linear-gradient(rgba(243, 243, 241, 0.85), rgba(243, 243, 241, 0.95)) !important;*/
}
.dropdown-content.scrolled{background-image: linear-gradient(rgba(243, 243, 241, 0.85), rgba(243, 243, 241, 0.95)) !important;}
.dropdown-content a {
  color: white;
  padding: 0px 6px 8px 8px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  letter-spacing: 2px;
}

.dropdown-content a:hover {background-color: transparent;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: transparent;}


/*Parrafos pagina principal*****************/

.text-cita{ font-family: 'Lora', serif; font-size: 19px;}
.ref-cita{	font-family: 'Lora', serif; font-size: 17px;}
.ref-cita a{ color: #777; transition: color 0.8s; }
.ref-cita a:hover{ text-decoration: none; color: #4A4A4A;}

.texto{font-family: 'Lora', serif; font-size: 19px;}


/**********************************************************************/


/*************** citas  ********************************/
.block-cita{ width: 60%; margin: 120px auto;}


/**********************cOROUSEL */
.title-carousel{
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	letter-spacing: 2px;
}

.title-carousel2{
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	letter-spacing: 2px;
}


.body-carousel{
	font-family: 'Lora', serif;
	font-size: 18px;
}

.img-car{
	width: 20em;
	height: 25em;

}

.img-car-logo{
	width: 26em;
	height: auto;
}

.carousel-title{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	padding-top: 3%;
	letter-spacing: 3px;
	font-weight: lighter !important;
}

.fondo-mezcal{
	background: rgba(0, 0, 0, 0.55) url('/img/fondo-mezcal3.jpg') no-repeat center;
	height: 100vh;
  	min-height: 350px;
	background-size: cover;
	color: white !important;
}

.next{
	height: 50vh;
  	min-height: 150px;
	color: white !important;
	position: relative;
	margin: 200px 0 0;
}
.next-fondo{background: rgba(0, 0, 0, 0.55) no-repeat center; 
	background-size: cover; height: inherit; opacity: 0.7; z-index: -5; min-height: 150px;}

.next-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  color: white;
  z-index: 2;
}
.next-text p{
	font-size: 15px;
	/*font-weight: 500 !important;*/
}
.next-text a{
	font-size: 24px;
	text-decoration: none;
	color: white;
	/*font-weight: 500;*/
}
.next-text a:hover{color: rgba(255,255,255,0.6);}
.body-transparent{
	background-color: rgba(153, 153, 153, 0.42) !important;
	opacity: 0.5 !important;
}

.to-left {
  position: absolute;
  top: 45%;
  left: 19%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif !important;
  letter-spacing: 2px;
  font-size: 23px;
  font-weight: 500;
}

.bg-gray{ background-color: rgba(134, 136, 124, 0.16);}
.body-white{ background-color: #f2f2f0 !important; }

a{ color: inherit; transition: color 0.5s;}
a:hover{ color: inherit; text-decoration: none;}


.ico {
	transition: color 0.8s;
	display: block;
	padding: 16px 0.5rem;
	font-size: 15px;
}
.ico:hover{ cursor: pointer; color: #9B9B9B !important; }

/**********footer*************************/
.div-foot{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px; 
	margin: 40px auto 20px;
}
.div-foot>div{
	width: 30%;
	font-family: 'Lora', serif;
	letter-spacing: 3px;
	font-size: 13px;
}
#f5{width: 50%;}
#f1{width: 40%;}
.div-foot a:hover{color: #9B9B9B;}

.fa-twitter:hover{transition: 0.5s; color: #41b7d8;}
.fa-facebook-square:hover{transition: 0.5s; color: #3b5997;}
.fa-instagram:hover{transition: 0.5s; color: #E1306C;}

.mail{
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: right !important;
}
.redes{
	font-family: 'Markazi Text', serif;
	letter-spacing: 1px;
	color: #9B9B9B;
	font-size: 17px;
	margin: 0;
}
.icons a{ display: inline-block; margin: 0 3px; transition: 0.6s; }
.icons {text-align: right;}



/*Media querys*/
@media only screen and (max-width: 550px){
	.text-cita{ font-size: 15px; }
	.ref-cita{font-size: 14px;}
	.block-cita{ width: 80%; }
	.next{height: 25vh; margin-top: 100px;}
	.next-text p{font-size: 12px;}.next-text a{font-size: 16px;}
}

@media only screen and (max-width: 991px){
	#list-items{display: none;}
	.navbar>.container{padding: 0 9px; }
	.div-foot>div{font-size: 12px;}	
}

@media only screen and (max-width: 760px){
	.nav-home{font-size: 14px;}
	.div-foot{margin: 40px 0px 20px;}
	.div-foot p{margin: 0  0 0.5rem; line-height: 1 !important;}
	.div-foot>div{width: 100% !important; margin: 0; text-align: center !important;}
	.mail, .icons{text-align: center!important;}
	.icons{font-size: 20px; line-height: 1;}
	#f1{order: 1;}  #f2{order: 2; margin-top: 5px;} #f3{order: 3;} #f4{order: 4;} #f5{order: 5;}
}

@media only screen and (min-width: 760px) and (max-width: 991px){
	.div-foot{width: 95%;}
	.redes{font-size: 15px;}
	.mail{font-size: 14px;}
}


@media (min-width: 992px){.div-foot { max-width: 960px; } }
@media (min-width: 1200px){.div-foot { max-width: 1140px;}}
