body{
  margin: 0;
  color: white;
  background-color: black;
}

.fondo-produccion{
  background: rgba(0, 0, 0, 0.55) url('/img/produccion2.jpg') no-repeat center;
  height: 100vh;
    min-height: 350px;
  background-size: cover;
  color: white !important;
  /*opacity: 0.6; */
}

h1{
  font-size: 20px;
  font-family: 'Lora', serif;
  letter-spacing: 2px;
  color: white;
  margin: 20px 0 0px;
  font-weight: 500;
  text-align: center;
}
#home a:hover{
  text-decoration: none;
  transition: color 0.6s;
}
h3{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

a{
  color: white;
  transition: color 0.6s;
}
a:hover{
  color: #9b9b9b;
}


.contenedor{
  margin: 20px auto;
  width: 36%;
}

label{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: lighter !important;
  display: block;
  text-align: left;
}

.label-text{
  letter-spacing: normal !important;
  display: inline-block;
  margin: 2% 0%;
  font-size: 12px;
  font-family: sans-serif;
}

.footer{
  font-size: 10px;
  text-align: center;
  margin-bottom: 20px;
}

ul{
  margin: 5% 0 0;
  padding: 0;
}

.footer li {
  list-style-type: none;
  display: inline-block;
  padding: 2px;

}

input[type=email], input[type=password], input[type=text] {
  width: 100%;
  display: inline-block;
  border: 1px solid rgba(247, 244, 244, 0.5);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

input:Focus{
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgba(247, 244, 244, 0.5) !important;
  color: white !important
}
::-webkit-input-placeholder { color: rgba(155, 155, 155, 0.5) !important; } 

.contain{
  width: 100%;
  margin: 14px 0 0;
}

.contain-span{
  display: block;
  font-size: 16px;
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: calc(2.25rem + 2px);
}

button:hover {
  opacity: 0.8;
}

.login{
  margin-top: 1.5em;
  border-radius: 0.25rem;
  background-color: #214735;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: lighter !important;
}

/* Change styles for span and cancel button on extra small screens 
@media screen and (max-width: 1100px) {
  .contenedor{
    width: 55%;
    margin: 4% auto; 
  }

  .contain{
    width: 100%;
    margin: 4% 0;
  }
}

@media screen and (max-width: 950px) {
  .contenedor{
    width: 70%;
    margin: 5% auto: 
  }
  .contain{
    width: 100%;
    margin: 4% 0;
  }
}

@media screen and (max-width: 800px) {
  h3{
    font-size: 18px;
    padding-bottom: 4%;
  }
  .contenedor{
    width: 90%;
    margin: 5% auto: 
  }
  .contain{
    width: 100%;
    margin: 6% 0;
  }

   .login{
    margin-top: 0%;
  }
}

*/
@media only screen and (max-width: 550px) {
  
  .contenedor{
    width: 90%;
  }

  .footer{
    margin-top: 50px;
  }
  h1,h3{
    font-size: 16px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 800px){
  .contenedor{
    width: 70%;
  }

  h1{
    font-size: 20px;
  }
  h3{
    padding-top: 80px !important;
  }
  label, .contain-span{
    font-size: 15px;
  }

  .footer{
    margin-top: 15%;
    font-size: 13px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px){
  
  .contenedor{
    width: 50%;
  }
  
}