.nav-trn a{
	color: #4A4A4A !important;
}

.nav-white{
	background-image: linear-gradient(rgba(243, 243, 241, 0.85), rgba(243, 243, 241, 0.95)) !important;
}

body{
	padding-top: 1.5rem;
	font-family: 'Lora', serif;
	font-size: 1rem;
    background-color: #fff;
    color: #4a4a4a;
}

.titulo{
	font-family: 'Raleway', sans-serif !important;
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: normal;
	color: rgba(111,133,85);;
}

.icon-nav{
    width: 1rem;
    height: 1rem;
}

.nav-vertical {
    flex-direction: column;
}
.right{
	position: absolute;
    right: 1rem;
    top: .7rem;
    transition: all .3s ease-in-out;
    transform-origin: center center;
}


.dropdown-toggle::after {
    content: none;
}


.dropdown-toggle[data-toggle=collapse][aria-expanded=true] i.right{
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.text-presentation{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    color: gray !important;
    font-size: 0.9rem;
}

select{
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}

.font-size-lg{
	font-size: 1.125rem!important;
}
.font-size-md{
	font-size: 1.07rem!important;
}


.card-img {
    position: relative;
}
.card-img, .card-img-bottom, .card-img-top {
    flex-shrink: 0;
    width: 100%;
}

.card-img-hover {
    display: block;
}

.card-img-hover .card-img-back {
    opacity: 0;
}
.card-img-hover .card-img-top {
    transition: opacity .2s ease-in-out;
}
.card-img-hover>* {
    float: left;
}
.card-img-hover .card-img-front {
    margin-left: -100%;
}
.card-img:hover .card-img-hover .card-img-back {
    opacity: 1;
}
.card-img:hover .card-img-hover .card-img-front {
    opacity: 0;
}
.card-actions {
    position: absolute;
    bottom: 0;
    z-index: -1000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    opacity: 0;
}

.card-img:hover .card-actions, .card-img:hover .card-actions .card-action{
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}
.card-actions .card-action {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transform: translateY(.5rem);
    transition: all .1s ease-in-out;
    transition-property: transform,opacity;
}
.card-action {
    position: absolute;
    top: 1.25rem;
    z-index: 1;
}
.card-actions .card-action+.card-action {
    margin-left: 1rem;
}
.card-actions .card-action:nth-child(2) {
    transition-delay: 75ms;
}


.btn-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(2rem + 2px);
    height: calc(2rem);
    border-radius: 50%;
    white-space: nowrap;
}
.btn-white-primary {
    background-color: white;
    color: #111;
}
.btn-xs {
    padding: 0.3rem 0.5rem;
    font-size: 0.7875rem;
}

.btn-white-primary:focus, .btn-white-primary:hover {
    background-color: gray;
    border-color: grey;
    color: #fff;
}

.card-badge-left {
    left: 0;
}
.card-badge {
    position: absolute;
    top: 1.25rem;
    z-index: 1;
}
.card>* {
    flex-shrink: 0;
}
.badge-white {
    background-color: #fff;
    color: #111;
}
.badge {
    letter-spacing: .02em;
    border-radius: unset;
}

.card-collapse-parent {
    position: relative;
    transition: transform .35s ease;
}
.card-collapse {
    position: absolute;
    top: 100%;
    width: 100%;
}

.title-product{
    font-weight: 500;
    font-size: 0.83rem;
}
.price-product{
    font-size: 0.9rem;
}

.price-product-modal{
    font-family: 'Spartan', sans-serif;
    text-align: left;
    font-size: 1rem;
}
.product-status{
    font-family: 'Raleway', sans-serif;
    color: #1b6714;
    font-weight: 500;
    letter-spacing: 1px;
}

h4{ font-size: 1.15rem; margin: 0; font-weight: 400;}
/*h4{ font-size: 1.3rem; margin: 0; font-weight: 400;}*/

.custom-control-input {
    left: 0;
    width: 1.125rem;
    height: 1.3125rem;
}
.custom-control-img {
    padding-left: 0 !important;
}
.custom-control-inline {
    margin-right: .5rem !important;
}

.custom-control-img .custom-control-input:checked~.custom-control-label {
    opacity: 1;
    box-shadow: 0 0 10px 0.01rem rgba(118, 118, 118, 0.25);
}
.custom-control .custom-control-input:checked~.custom-control-label {
    color: #111;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #1f1f1f;
    background-color: #1f1f1f;
}
.custom-control-img .custom-control-label::before {
    display: none;
}
.custom-control .custom-control-label::after, .custom-control .custom-control-label::before {
    top: calc((1em * 1.5 - 1.125rem)/ 2);
}
.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-control-label::before {
    position: absolute;
    top: .1875rem;
    left: -2rem;
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    pointer-events: none;
    content: "";
    background-color: #e5e5e5;
    border: #525252 solid 0;
}

.custom-control-img .custom-control-input:checked~.custom-control-label::after {
    display: block;
}
.custom-control-img .custom-control-label::after {
    top: auto;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    border-bottom: 2px solid #111;
}
.custom-control-label::after {
    top: .1875rem;
    left: -2rem;
    width: 1.125rem;
    height: 1.125rem;
    background: no-repeat 50%/10px 8px;
}

.custom-control-img .custom-control-label {
    width: 70px;
    opacity: .6;
}
.custom-control .custom-control-label {
    color: #767676;
    cursor: pointer;
}
.custom-control-label {
    color: #767676;
    vertical-align: top;
}

.bg-cover {
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
}

.btn-modals{
    font-family: 'Raleway', sans-serif !important;
    font-size: 0.84rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #23272b;
    color: white; 
}
.btn-modals:hover{background-color: #343a40;}
.btn-close-modal{
    position: absolute;
    right: 0;
    margin: 0.2rem 0.5rem;
    font-size: 2.5rem;
    font-weight: normal;
    font-style: normal;
}

/**hide arrows on input number¨/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].form-control{
    width: 3em;
    max-width: 3em;
    height: auto;
    text-align: center;
    padding: 0;
    vertical-align: middle;
}

input[type="number"].form-control:focus {
    background-color: #fff;
    border-color: #767676;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(118, 118, 118, 0.25);
}

/* Firefox */
input[type="number"].form-control {
  -moz-appearance: textfield;
}

.icon-input-number{
    font-size: 1.4rem;
    padding: 0.125rem 0.5rem;
    font-weight: bold;
    line-height: 1;
}
.img-product-modal{ max-height: 27vh; min-height: 150px; margin: 0 auto; }
.div-img-radio-products{ display: flex; justify-content: space-around; flex-wrap: wrap; }



/* Small devices (landscape phones, 576px and up) */
/*@media (min-width: 576px) {  }*/

/* Medium devices (tablets, 768px and up) */

@media(max-width: 768px){
    .custom-control-inline{margin: 0 !important;}
    /*.modal{ line-height: 1.3; }*/
    .modal{ line-height: 1.15; }
}
@media (min-width: 768px) { 
    .title-product{ font-size: 1rem;}
    .price-product{font-size: 1.2rem; letter-spacing: 2px;}
    .nav-link{font-weight: 500;}
    h4{ font-size: 1.3rem !important; }
    .div-img-radio-products{ display: block; }
    /*.img-product-modal{ max-height: 30vh; min-height: 150px; margin: 0 auto; }*/
    }

/* Large devices (desktops, 992px and up) */
/*@media (min-width: 992px) { ... }*/

/* Extra large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) { ... }*/